<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-bank fa-fw"></i> Topup</b></h5>
</header>

<div class="w3-container">
    <h5>Recent Amount</h5>
    <div class="col-md-12">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>